* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
a {
    text-emphasis: none;
    text-decoration:none;
}
li {
    list-style: none;
}

#header {
    width: 100%;
    background: red;
    display: list-item;
}
.header_logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
    margin-bottom: 8px;
}
h1 {
    color:#fff;
}
a {
    color: #fff;
    position: Top;
}
main  {
    padding: 200px 0 410px 0;
   background: #000;
    text-align: center;
}
.reviews{
    background: #000;
    color:#c9c9c9;
}
.reviews_text{
    text-transform:uppercase;
    font-weight: 600;
    text-align: center;
}
.avtor{
    text-align: center;
    color:#c9c9c9;
    padding-bottom:170px;
}