 * {
    margin: 0;
    padding: 0;
}
a {
    text-emphasis: none;
}
li {
    list-style: none;
}
#header {
    width: 100%;
    background: red;
    display: flex;
}
.header_logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
    margin-bottom: 8px;
}